<!DOCTYPE html>
<html>
<head>
</head>
<body>
<title>Movies</title>
	<center><h1>San-Francisco Movies List</h1></center>
	{% if data.previous %}
	<a href="http://127.0.0.1:8000/home/?q={{data.previous}}">Previous</a>
	{% endif %}
	{% if data.next %}
	<a href="http://127.0.0.1:8000/home/?q={{data.next}}">Next</a>
	{% endif %}
	<table>
	<tr><th>title</th><th>year</th>
	<th>latitude</th><th>longitude</th>
	<th>director</th><th>writer</th>
	<th>production company</th><th>locations</th></tr>
	{%with dataset=data.results%}
	{% for item in dataset %}
	<tr>
	<td>{{item.title}}</td>
	<td>{{item.year}}</td>
	<td>{{item.lat}}</td>
	<td>{{item.lon}}</td>
	<td>{{item.director}}</td>
	<td>{{item.writer}}</td>
	<td>{{item.production}}</td>
	<td>{{item.locations}}</td>
	</tr>
	{% endfor %}
	{% endwith %}
	</table>

<style type="text/css">
	table, th, td {
    border: 1px solid black;
}
</style>
</body>
</html>